<!DOCTYPE html>
<html lang="en">
<head th:replace="index :: homePage">
    <title>Document</title>
</head>
<body>
<nav th:replace="index :: navbar"></nav>

<h1>All borrowed books</h1>
<ul class="me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/addBorrowedBook}">Add borrowed book</a>
    </li>
</ul>

<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Book title</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Borrowed date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="borrowedBook:${listBorrowedBook}">
        <td th:text="${borrowedBook.id}"></td>
        <td th:text="${borrowedBook.title}"></td>
        <td th:text="${borrowedBook.firstName}"></td>
        <td th:text="${borrowedBook.lastName}"></td>
        <td th:text="${borrowedBook.date}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>